@model IEnumerable<CursoDeProgramacion.Models.ClaseDiaria>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clases de programacion gratuitas orientadas al desarrollo profesional</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h1>Clases de programación gratuitas</h1>
    <h2>Grupo de WhatsApp: <a href="https://chat.whatsapp.com/KOcpiV3A28P1TTmUcFKhKf" target="_blank">click acá para entrar</a></h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoLink)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPublicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoLink)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
